*.l[ao]
*~
*.o
*.a
*.exe
rotor
*.log
!/man/*
!/bin/
/bin/*
!/tmp/*
/tmp/1
compile
install-sh
depcomp
missing
config.guess
config.sub
test-driver
/autom4te.cache/
*.Po
Makefile
Makefile.in
config.log
config.status
aclocal.m4
